// bottom
// .pb-2 { padding-bottom: 2px; }
// 
// .pb-15 { padding-bottom: 15px; }

// top
.pt-15 { padding-top: 15px; }

.pt-top { padding-top: 60px; }

// left
.pl-0 { padding-left: 0px; }

.pl-25 { padding-left: 25px; }

.pl-xl { padding-left: 70px; }

// right
.pr-0 { padding-right: 0px; }

.pr-25 { padding-right: 25px; }

.pr-xl { padding-right: 110px; }
