@import "colors.scss";

.faded-border {
	border-color: $faded-grey;
	opacity: .35;
}

.lt-sp-2 {
	letter-spacing: 2px;
}

img {
	width: 17px;
	height: 18px;
	float:left;
	margin-right: 6px;
}

.underline {
	border-bottom: 1px solid $faded-grey;
}

.italic {
    font-style: italic;
}
