.exp-column {
  margin: 35px 8px;
  width: 590px;
  display: inline-block;
  vertical-align: top; }

.exp {
  padding-bottom: 6px; }
  .exp > h2 {
    font-size: 22px; }
  .exp__title {
    letter-spacing: 2px; }
  .exp__header > div > h4,
  .exp__header > div > h5,
  .exp__header > div > h6,
  .exp__header > h5 {
    line-height: 16px; }
  .exp__header > div > h4 {
    font-size: 16px; }
  .exp__header > div > h5 {
    font-size: 14px; }
  .exp__header > h5 {
    font-size: 12px;
    margin-bottom: 12px; }
  .exp__header > div > h6 {
    font-size: 12px;
    margin-bottom: 4px; }
  .exp__header--list {
    font-size: 12px;
    line-height: 18px;
    padding-right: 15px; }
  .exp__hr {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 12px; }
