.info__text > ul {
  color: #D3D3D3; }

.info-column {
  background-color: #096192;
  padding: 45px 0px 55.5px;
  width: 225px;
  display: inline-block; }

.info {
  color: #fffff2; }
  .info > h6 {
    margin-bottom: 6px; }
  .info--padding {
    padding-bottom: 10px; }
  .info__header {
    background-color: #074a70;
    padding-left: 8.5%;
    margin-top: 8px;
    font-size: 14px; }
  .info__text {
    padding-left: 8.5%;
    line-height: 1.8;
    margin: 4px 0;
    font-size: 12px; }
    .info__text--faded {
      color: #D3D3D3; }
    .info__text > ul {
      margin-bottom: 8px;
      padding-inline-start: 30px; }
  .info__hr {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 55%;
    border-color: white;
    opacity: 0.35; }
  .info__title {
    letter-spacing: 4.7px;
    font-size: 38px;
    font-weight: 550;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase; }
  .info__description {
    font-size: 18px;
    text-align: center;
    margin: 15px 0 0;
    letter-spacing: 1.2px; }
