.info__text > ul {
  color: #D3D3D3; }

.info-column {
  background-color: #096192;
  padding: 65px 0px;
  width: 250px;
  display: inline-block; }

.info {
  color: #fffff2; }
  .info--padding {
    padding-bottom: 10px; }
  .info__header {
    background-color: #074a70;
    padding-left: 8%;
    margin-top: 10px;
    font-size: 14.5px; }
  .info__text {
    padding-left: 8%;
    line-height: 1.8;
    margin: 8px 0;
    font-size: 12.5px; }
    .info__text--faded {
      color: #D3D3D3; }
    .info__text > ul {
      margin-bottom: 12px;
      padding-inline-start: 30px; }
  .info__hr {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 55%;
    border-color: white;
    opacity: .35; }
  .info__title {
    letter-spacing: 3.5px;
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase; }
  .info__description {
    font-size: 22px;
    text-align: center;
    margin: 15px 0 0; }
