.body {
  display: flex; }

.faded-border {
  border-color: #D3D3D3;
  opacity: .35; }

.lt-sp-2 {
  letter-spacing: 2px; }

img {
  width: 25px;
  height: 35px;
  float: left;
  margin-right: 20px; }

.underline {
  border-bottom: 1px solid #D3D3D3; }

.italic {
  font-style: italic; }

.info__text > ul {
  color: #D3D3D3; }

.info-column {
  background-color: #096192;
  padding: 65px 0px;
  width: 250px; }

.info {
  color: #fffff2; }
  .info--padding {
    padding-bottom: 10px; }
  .info__header {
    background-color: #074a70;
    padding-left: 8%;
    margin-top: 10px;
    font-size: 14.5px; }
  .info__text {
    padding-left: 8%;
    line-height: 1.8;
    margin: 8px 0;
    font-size: 12.5px; }
    .info__text--faded {
      color: #D3D3D3; }
    .info__text > ul {
      margin-bottom: 12px;
      padding-inline-start: 30px; }
  .info__hr {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 55%;
    border-color: white;
    opacity: .35; }
  .info__title {
    letter-spacing: 3.5px;
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase; }
  .info__description {
    font-size: 22px;
    text-align: center;
    margin: 15px 0 0; }

.exp-column {
  padding: 65px 35px 55px;
  flex: 1; }

.exp {
  padding-bottom: 15px; }
  .exp > h2 {
    font-size: 28px; }
  .exp__title {
    letter-spacing: 2px; }
  .exp__header > col > h3 {
    font-size: 24px; }
  .exp__header > h5 {
    font-size: 14.5px; }
  .exp__header--list {
    line-height: 27.5px;
    font-size: 12.5px;
    padding-bottom: 10px; }
  .exp__hr {
    width: 85%;
    margin-top: 8px;
    margin-bottom: 8px; }

.side-lines {
  overflow: hidden;
  text-align: center; }

.side-lines:before,
.side-lines:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 75%;
  opacity: .35; }

.side-lines:before {
  right: 0.5em;
  margin-left: -50%; }

.side-lines:after {
  left: 0.5em;
  margin-right: -50%; }
