.faded-border {
  border-color: #D3D3D3;
  opacity: .35; }

.lt-sp-2 {
  letter-spacing: 2px; }

img {
  width: 17px;
  height: 18px;
  float: left;
  margin-right: 6px;
  color: black; }

.underline {
  border-bottom: 1px solid #D3D3D3; }

.italic {
  font-style: italic; }

.info__text > ul {
  color: #D3D3D3; }

.info-column {
  background-color: #096192;
  padding: 40px 0px 57px;
  width: 225px;
  display: inline-block; }

.info {
  color: #fffff2; }
  .info > h6 {
    margin-bottom: 6px; }
  .info--padding {
    padding-bottom: 10px; }
  .info__header {
    background-color: #074a70;
    padding-left: 8%;
    margin-top: 8px;
    font-size: 14px; }
  .info__text {
    padding-left: 8%;
    line-height: 1.8;
    margin: 4px 0;
    font-size: 12px; }
    .info__text--faded {
      color: #D3D3D3; }
    .info__text > ul {
      margin-bottom: 8px;
      padding-inline-start: 30px; }
  .info__hr {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 55%;
    border-color: white;
    opacity: .35; }
  .info__title {
    letter-spacing: 4.5px;
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase; }
  .info__description {
    font-size: 18px;
    text-align: center;
    margin: 15px 0 0; }

.exp-column {
  margin: 35px 10px;
  width: 590px;
  display: inline-block;
  vertical-align: top; }

.exp {
  padding-bottom: 6px; }
  .exp > h2 {
    font-size: 22px; }
  .exp__title {
    letter-spacing: 2px; }
  .exp__header > div > h4,
  .exp__header > div > h5,
  .exp__header > div > h6,
  .exp__header > h5 {
    line-height: 16px; }
  .exp__header > div > h4 {
    font-size: 16px; }
  .exp__header > div > h5 {
    font-size: 14px; }
  .exp__header > h5 {
    font-size: 12px;
    margin-bottom: 12px; }
  .exp__header > div > h6 {
    font-size: 12px;
    margin-bottom: 4px; }
  .exp__header--list {
    font-size: 12px;
    line-height: 18px;
    padding-right: 20px; }
  .exp__hr {
    width: 85%;
    margin-top: 10px;
    margin-bottom: 12px;
    border-color: black;
    opacity: .4; }

.side-lines {
  overflow: hidden;
  text-align: center; }

.side-lines:before,
.side-lines:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 45%;
  opacity: .5; }

.side-lines:before {
  right: 0.5em;
  margin-left: -50%; }

.side-lines:after {
  left: -0.5em;
  margin-right: -51%; }
