.exp-column {
    padding: 65px 35px 55px;
    flex:1;
}

.exp {
    padding-bottom: 15px;

    > h2 {
        font-size: 28px;
    }

    &__title {
        letter-spacing: 2px;
    }

    &__header {
        // padding: 6px 0 0;

        > col > h3 {
            font-size: 24px;
        }

        > h5 {
            font-size: 14.5px;
        }

        &--list {
            line-height: 27.5px;
            font-size: 12.5px;
            padding-bottom: 10px;
        }
    }

    &__hr {
        width: 85%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
