@import "../colors.scss";

.info__text > ul { color: $faded-grey; }

.info-column {
    background-color: $blue;
    padding: 65px 0px;
    width: 250px;
    display:inline-block;
}

// applying bem
.info {
    color: $off-white;

    &--blank {
        // height: 80px;
    }

    &--padding {
        padding-bottom: 10px;
    }

    &__header {
        background-color: $dark-blue;
        padding-left: 8%;
        margin-top: 10px;
        font-size: 14.5px;
    }

    &__text {
        padding-left: 8%;
        line-height: 1.8;
        margin: 8px 0;
        font-size: 12.5px;

        &--faded {
            color: $faded-grey;
        }

        > ul {
            margin-bottom: 12px;
            padding-inline-start: 30px;
        }
    }

    &__hr {
        margin-top: 6px;
        margin-bottom: 6px;
        width: 55%;
        border-color: white;
        opacity: .35;
    }

    &__title {
        letter-spacing: 3.5px;
        font-size: 36px;
        font-weight: 550;
        // text-shadow: 6px 4px $dark-blue;
        margin-bottom: 6px;
        text-align: center;
        text-transform: uppercase;
    }

    &__description {
        font-size: 22px;
        text-align: center;
        margin: 15px 0 0;
    }
}
