.side-lines {
	overflow: hidden;
 	text-align: center;
}

.side-lines:before,
.side-lines:after {
	background-color: black;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 45%;
	opacity: .5;
}

.side-lines:before {
	right: 0.5em;
	margin-left: -50%;
}

.side-lines:after {
	left: -0.4em;
	margin-right: -49%;
}
