.exp-column {
  padding: 65px 65px 55px;
  width: 73%;
  float: right; }

.exp {
  padding-bottom: 15px; }
  .exp__title {
    letter-spacing: 2px; }
  .exp__header {
    padding: 10px 0 0; }
    .exp__header--list {
      line-height: 27.5px;
      font-size: 16.5px;
      padding-bottom: 10px; }
  .exp__hr {
    width: 85%; }
